.attendance-card {

  width: 500px;

  margin: 50px auto;

  background: white;

  padding: 30px;

  border-radius: 20px;

  box-shadow:
    0 10px 30px
    rgba(0,0,0,.1);

}

.attendance-card h2 {

  margin-bottom: 10px;

}

.form-check {

  margin-top: 20px;

  font-size: 18px;

}